/* Reset Styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Global Styles */

body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

header {
  background-color: red;
  color: #fff;
  padding: 20px;
}

h1 {
  margin: 0;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 150px;
}

form {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
}

label {
  font-weight: bold;
}

input[type="text"],
textarea {
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 16px;
}

input[type="file"] {
  border: none;
}

input[type="submit"] {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

footer {
  background-color: red;
  color: #fff;
  text-align: center;
  padding: 20px;
}
